<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <strong>Generate Bulk SMS</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <strong class="col-md-3 col-form-label" for="text-input">Account Class</strong>
              <div class="col-md-9">
                <!-- <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text"> -->
                <select class="browser-default custom-select">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="3">Thtte</option>
                  <option value="3">Thaa</option>


                </select>
              </div>
            </div>
            <div class="form-group row">
              <strong class="col-md-3 col-form-label" for="email-input">Branch Code</strong>
              <div class="col-md-9">
                <!-- <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email" autocomplete="email"> -->
                <select id="disabledSelect" class="form-control" >
                  <option value="0">Please select</option>
                  <option value="1">Option #1</option>
                  <option value="2">Option #2</option>
                  <option value="3">Option #3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <strong class="col-md-3 col-form-label" for="password-input">All</strong>
              <div class="col-md-9">
                <input type="checkbox" checked>
              </div>
            </div>
            <div class="form-group row">
              <strong class="col-md-3 col-form-label" for="textarea-input">Message</strong>
              <div class="col-md-9">
                <textarea id="textarea-input" ng-init="title= 'initvalue'" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>

  </div><!--/.row-->
  </div>
  