<div *ngIf="userQueryBlock">
  <div class="card">
    <div class="card-header"><strong>Message Configuration</strong>
      <button type="button" class="btn btn-sm pull-right" (click)="isCollapsed = !isCollapsed">
        <i class="fa fa-chevron-circle-down" *ngIf="isCollapsed === false"> Collapse</i>
        <i class="fa fa-chevron-circle-up" *ngIf="isCollapsed === true"> Expand</i>
      </button>
    </div>
    <div class="card-body" [collapse]="isCollapsed">
      <div class="row">
        <div class="form-group col-sm-4">
          <div class="row">
            <strong class="form-group col-sm-4">Message Type</strong>
            <div class="form-group col-sm-8">
              <input type="text" class="form-control" #username id="username" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <div class="row">
            <strong class="form-group col-sm-4">Category</strong>
            <div class="col-md-6">
              <select class="form-control" #userstatus id="userstatus" name="User Status">
                <option value=""></option>
                <option value="instant">Instant</option>
                <option value="scheduled">Scheduled</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <div class="row">
            <strong class="form-group col-sm-4">Status</strong>
            <div class="col-md-6">
              <select class="form-control" #userstatus id="userstatus" name="User Status">
                <option value=""></option>
                <option value="active">Active</option>
                <option value="pending approval">Pending Approval</option>
                <option value="closed">Closed</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer" [collapse]="isCollapsed">
      <button type="submit" class="btn col-1 btn-success" (click)="searchQuery(username, userstatus)">
        <i class="fa fa-search"></i>
        <strong> &nbsp; Query </strong>
      </button>
      <button class="btn col-1 btn-danger pull-right" type="reset" (click)="resetQuery()">
        <i class="fa fa-ban"></i>
        <strong> &nbsp; Reset</strong>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">

        <div class="card-header">
          <strong>User Results</strong>
          <select class="col-md-1 float-right" [(ngModel)]="recordsPerPage" id="recordperpage">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <strong class="pull-right">Records per page &nbsp; </strong>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-12">
              <button class="btn btn-md btn-primary" id="btnUserNew" (click)="newUser()">
                <i class="fa fa-plus"></i>
                <strong> &nbsp; New Message Type </strong>
              </button>
              <button class="btn btn-md btn-outline-secondary" id="btnUserDelete" disabled (click)="deleteUser()">
                <i class="fa fa-close"></i>
                <strong> &nbsp; Delete </strong>
              </button>
              <button class="btn btn-md btn-outline-secondary" id="btnUserModify" disabled (click)="modifyUser()">
                <i class="fa fa-pencil-square-o"></i>
                <strong> &nbsp; Modify </strong>
              </button>
              <button class="btn btn-md btn-outline-secondary" id="btnUserApprove" disabled (click)="approveUser()">
                <i class="fa fa-check-square-o"></i>
                <strong> &nbsp; Approve </strong>
              </button>
            </div>
          </div>

          <table class="table table-bordered table-hover table-md z-depth-1">
            <thead class="thead-dark">
              <tr>
                <!-- <th *ngFor="let head of headElements; let i = index" aria-controls="tableSort" scope="col"
                  [mdbTableSort]="elements" [sortBy]="headElements[i]">{{head | titlecase}}
                  <mdb-icon fas icon="sort"></mdb-icon>
                </th> -->
                <th style="width: 3%"></th>
                <th scope="col" sortable="user" (sort)="onSort($event)" style="width: 20%">Message Type</th>
                <th scope="col" sortable="name" (sort)="onSort($event)" style="width: 20%">Message Name</th>
                <th scope="col" sortable="name" (sort)="onSort($event)" style="width: 13%">Category</th>
                <th scope="col" sortable="role" (sort)="onSort($event)" style="width: 13%">SMS Required</th>
                <th scope="col" sortable="role" (sort)="onSort($event)" style="width: 13%">Email Required</th>
                <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let msgtype of msgconfigList | paginate: {itemsPerPage: recordsPerPage, currentPage: config.currentPage}">
                <td><input type="radio" name="selectuser" (click)="rowSelected(user)"></td>
                <td>{{msgtype.msgType}}</td>
                <td>{{msgtype.msgName}}</td>
                <td>{{msgtype.category}}</td>
                <td>{{msgtype.smsreqd}}</td>
                <td>{{msgtype.emailreqd}}</td>
                <td>
                  <span class="badge badge-primary" *ngIf="msgtype.status === 'new'">{{msgtype.status}}</span>
                  <span class="badge badge-success" *ngIf="msgtype.status === 'active'">{{msgtype.status}}</span>
                  <span class="badge badge-warning" *ngIf="msgtype.status === 'pending approval'">{{msgtype.status}}</span>
                  <span class="badge badge-secondary" *ngIf="msgtype.status === 'closed'">{{msgtype.status}}</span>
                </td>
              </tr>
            </tbody>
          </table>

          <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
            <nav>
              <ul class="pagination noborder">
                <li class="page-item" [class.disabled]="p.isFirstPage()">
                  <a class="page-link" href="javascript:void(0)" (click)="p.previous()">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                  <a class="page-link" href="javascript:void(0)" (click)="p.setCurrent(page.value)"
                    *ngIf="p.getCurrent() !== page.value">{{ page.label }}</a>
                  <a class="page-link active" href="javascript:void(0)" *ngIf="p.getCurrent() === page.value">
                    {{ page.label }}
                  </a>
                </li>
                <li class="page-item" [class.disabled]="p.isLastPage()">
                  <a class="page-link" href="javascript:void(0)" (click)="p.next()">Next</a>
                </li>
              </ul>
            </nav>
          </pagination-template>
        </div>
      </div>
    </div>
  </div>
</div>








<div class="col-sm" *ngIf="userDetailBlock">
  <div class="card">
    <div class="card-header">
      <strong id="userdet.header">Message Configuration</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-sm-10">
          <div class="row">
            <strong class="form-group col-sm-2">Message Type</strong>
            <div class="form-group col-sm-4">
              <input type="text" class="form-control" id="userdet.userid">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-10">
          <div class="row">
            <strong class="form-group col-sm-2">Message Name</strong>
            <div class="form-group col-sm-4">
              <input type="text" class="form-control" id="userdet.username">
            </div>
          </div>
        </div>
      </div>
    
    <div class="row">
        
      <div class="form-group col-sm-4">
        <div class="row">
          <strong class="form-group col-sm-5">Category</strong>
          <div class="form-group col-sm-6">
            <label class="container ">instant
              <input type="radio" checked name="radio">
              <span class="checkmark"></span>
            </label>

            <label class="container">Scheduled
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="row">
          <div class="form-group col-md-4 d-flex justify-content-start">
            <strong>Transaction Code</strong>
          </div>
          <div class="form-group col-md-8 ">
            <input type="text" class="form-control" id="userdet.username">
          </div>
        </div>
      </div>
    
    </div>

      <div class="row">
        <div class="form-group col-sm-10">
          <div class="row">
            <strong class="form-group col-sm-2">SMS Required</strong>
            <div class="form-group col-sm-4">
              <label class="switch switch-label switch-pill switch-primary">
                <input type="checkbox" id="email" class="switch-input" >
                <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
              </label>  
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-10">
          <div class="row"> 
           <strong class="form-group col-sm-2">SMS Format</strong>
           <div class="form-group col-sm-10">
             <textarea  class="d-flex justify-content-start" id="textarea-input" ng-init="title= 'initvalue'" name="textarea-input" rows="5"
             class="form-control" placeholder="Content.."></textarea>
          </div>
        </div>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-sm-10">
          <div class="row">
            <strong class="form-group col-sm-2 d-flex justify-content-start">Email Required</strong>
            <div class="form-group col-sm-4">
              <label class="switch switch-label switch-pill switch-primary">
                <input type="checkbox" id="email" class="switch-input" >
                <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
              </label>  
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-10">
          <div class="row">
           <strong class="form-group col-sm-2">Email Format</strong>
           <div class="form-group col-sm-10">
             <textarea id="textarea-input" ng-init="title= 'initvalue'" name="textarea-input" rows="5"
             class="form-control" placeholder="Content.."></textarea>
          </div>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-10">
          <div class="row">
            <strong class="form-group col-sm-2">Status</strong>
            <div class="form-group col-sm-4">
              <select class="browser-default custom-select">
                <option selected>active</option>
                <option value="1">stop</option>
              </select>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="card-footer">
      <button class="btn btn-success"><strong>Submit</strong></button>
      <button class="btn btn-danger pull-right" (click)="canceluser()"><strong>Cancel</strong></button>
    </div>
  </div>
</div>
  

      <!-- <div class="row">
        <div class="form-group col-md-2">
          <strong >Category</strong>
        </div>
        <div class="form-group col-md-3">
          <div>
            <input type="radio">
            <strong>instant</strong>
          </div>&nbsp;
          <div>
            <input type="radio">
            <strong>Scheduled</strong>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="row">
            <div class="form-group col-md-4">
              <strong>Transaction Code</strong>
            </div>
            <div class="form-group col-md-8">
              <input type="text" class="form-control" id="userdet.username">
            </div>
          </div>
        </div>
      </div> -->