<div class="animated fadeIn">

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          <strong>SMTP Configuration</strong>
        </div>
        <div class="col-md-6">
          <!-- <button type="button" class="btn btn-secondary" (click)="disableForm()">Disable Form</button> -->
        </div>
      </div>
    </div>

    
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="form-group row">
          <strong class="col-md-2">Mail Server Name </strong >
          <div class="col-md-9">
            <input type="text" [readonly]="!configurationField"  class="form-control" placeholder="Enter Email" value="Apache Http" autocomplete="email">
          </div>
        </div>
        <div class="form-group row">
          <strong class="col-md-2">Domain</strong>
          <div class="col-md-9">
            <input type="text" [readonly]="!configurationField" class="form-control" placeholder="Enter domain" value="192.168.10.10" autocomplete="current-password">
          </div>
        </div>
        <div class="form-group row">
          <strong class="col-md-2">Mail Server User</strong>
          <div class="col-md-9">
            <input type="text" [readonly]="!configurationField" class="form-control" placeholder="Enter user" value="Apache Http" autocomplete="current-password">
          </div>
        </div>
        <div class="form-group row">
          <strong class="col-md-2">Mail Server Password</strong>
          <div class="col-md-9">
            <input type="text" [readonly]="!configurationField" class="form-control" value="@password" placeholder="Enter Server Password" autocomplete="current-password">
          </div>
        </div>
        <div class="form-group row">
          <strong class="col-md-2">SMTP Port</strong>
          <div class="col-md-9">
            <input type="text" [readonly]="!configurationField"  class="form-control" placeholder="Enter port" value="2140" autocomplete="current-password">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-2">
            <strong>Use SSL</strong>
          </div>

          <div class="form-group col-sm-4">
              <input type="checkbox" checked>
          </div>

          <!-- <div class="form-group col-sm-4 ">
            <button class="btn btn-primary"> Send Test Email</button>
        </div> -->
        </div>

        <div class="row">
          <div class="form-group col-sm-4 ">
            <button class="btn btn-primary"> Send Test Email</button>
        </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success" (click)="enableForm()" id="button"><strong>{{buttonLabel}}</strong></button>
      <button class="btn btn-danger pull-right" (click)="canceluser()"><strong>Cancel</strong></button>
    </div>
  </div>


</div>